<div class="detail" id="detail-root">
  <a href="/exercises" class="btn btn--ghost" style="margin-bottom:20px">&larr; Back to catalog</a>
  <div class="sk sk--bar sk-w-40" style="height:24px;margin-bottom:16px"></div>
  <div class="sk sk--img" style="height:200px"></div>
  <div class="sk sk--bar sk-w-80" style="margin-top:16px"></div>
  <div class="sk sk--bar sk-w-60"></div>
</div>

<script>
  window.__EXERCISE_ID__ = '<%= id %>';
</script>
<script src="/js/exercise-detail.js"></script>
